<!DOCTYPE html>
<html ng-app="sportGraph">
  <head>
    <meta charset="utf-8" />
    <title>Sport Graph V1</title>

    <!-- <link rel="stylesheet" href="/lib/js/jquery-ui/jquery-ui-1.10.3/themes/base/jquery.ui.slider.css" /> XXX: what to do with this? -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="lib/js/angular-slider/angular-slider.min.css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
   
    <script type="text/javascript" src="lib/js/angular-slider/angular-slider.min.js"></script>

    <script type="text/javascript" src="js/globals.js"></script>
  </head>
  <style>

  .graticule {
    fill: none;
    stroke: #777;
    stroke-opacity: .5;
    stroke-width: .5px;
  }
  
  .land {
    fill: #222;
  }
  
  .boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
  }

  </style>
  <body ng-controller="outerController">
    
    <slider id="slider" floor="{{minSeason}}" ceiling="{{maxSeason}}" step="1" precision="0" ng-model="currentYear"></slider>
    <slider id="speed-slider" floor="0" ceiling="100" step="1" precision="0" ng-model="currentSpeed"></slider>

    <sportsgraph id="sportsgraph" current-year="currentYear" current-speed="currentSpeed" width="1200" height="550"/> 
    <!-- classes -->

    <!-- angular -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/leagueDataService.js"></script>
    <script type="text/javascript" src="js/outerController.js"></script>
    <script type="text/javascript" src="js/sportsGraphDirective.js"></script>
  </body>
</html>
